//Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

//DM Sans
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


//Sunbright
@font-face {
    font-family: 'Sunbright';
    src: url('assets/fonts/sunbright/sunbright.otf') format('otf'),
        url('./assets/fonts/sunbright/sunbright.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}